@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Maven+Pro:wght@400..900&family=Megrim&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.lateralNav {
  position: fixed;
  right: 5rem;
  top: 6rem;
  z-index: 1;
}
.lateralNav ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 1rem;
  padding: 0.5rem;
  border-radius: 1rem;
  align-items: center;
}
.lateralNav ul li {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #64C273;
  width: 0.5rem;
  overflow-wrap: break-word;
  list-style-type: none;
  font-size: 1rem;
  text-align: center;
}
.lateralNav ul li a {
  color: inherit;
  text-decoration: none;
}
.lateralNav ul li:hover {
  color: #2f773b;
  transition: all 100ms ease;
}

.headerWrapper {
  background-color: #F7FBFC;
  padding: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 5rem;
  position: relative;
}
.headerWrapper nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-top: 0.1rem;
}
.headerWrapper nav .logo {
  width: 100px;
  cursor: pointer;
}
.headerWrapper nav > :nth-child(1) {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.headerWrapper nav > :nth-child(1) > :nth-child(2) {
  cursor: pointer;
}
.headerWrapper nav h1 {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: #64C273;
}
.headerWrapper nav button {
  padding: 1rem;
  padding-inline: 2rem;
  border-radius: 0.8rem;
  background-color: #64C273;
  color: #F7FBFC;
  font-size: 1.3rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.headerWrapper nav button:hover {
  background-color: #45ae56;
  transition: all 0.1s ease-in-out;
}
.headerWrapper .headerContainer {
  display: flex;
  justify-content: center;
}
.headerWrapper .headerContainer .headerContent {
  text-align: center;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 5rem;
}
.headerWrapper .headerContainer .headerContent h1 {
  font-size: 7rem;
  font-weight: 500;
  color: #64C273;
}
.headerWrapper .headerContainer .headerContent h1 b {
  color: #734A91;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.headerWrapper .headerContainer .headerContent h5 {
  font-size: 1.4rem;
  font-weight: 500;
  color: #111111;
  margin-block: 4rem;
  width: 80%;
}
.headerWrapper .headerContainer .headerSocialMidia {
  position: absolute;
  left: 1rem;
  bottom: 5rem;
  z-index: 1;
}
.headerWrapper .headerContainer .headerSocialMidia ul {
  display: flex;
  gap: 2rem;
  position: absolute;
}
.headerWrapper .headerContainer .headerSocialMidia ul > :nth-child(1) {
  list-style-type: none;
}
.headerWrapper .headerContainer .headerSocialMidia ul li {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #64C273;
  list-style-type: disclosure-open;
  font-size: 1.3rem;
}
.headerWrapper .headerContainer .headerSocialMidia ul li a {
  color: #64C273;
  text-decoration: none;
}
.headerWrapper .headerContainer .headerSocialMidia ul li a:hover {
  color: #368a44;
  transition: all 0.1s ease-in-out;
}
.headerWrapper .headerContainer .headerSocialMidia ul li::marker {
  color: #734A91;
}

.projetoInfoWrapper {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: relative;
}
.projetoInfoWrapper > h1 {
  background: linear-gradient(90deg, rgb(100, 194, 115) 0%, rgb(67, 125, 33) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 10rem;
  letter-spacing: 4rem;
  font-weight: 500;
  margin-left: 5rem;
}
.projetoInfoWrapper > :nth-child(2) {
  position: absolute;
  top: -5rem;
  left: 0;
  width: 100%;
}
.projetoInfoWrapper > :nth-child(3) {
  position: absolute;
  bottom: -5rem;
  left: 0;
  width: 100%;
}
.projetoInfoWrapper .projetoInfoContent {
  display: flex;
  justify-content: end;
}
.projetoInfoWrapper .projetoInfoContent > img {
  width: 50rem;
  position: absolute;
  left: 4rem;
  top: 4rem;
}
.projetoInfoWrapper .projetoInfoContent .beneficios {
  display: flex;
  flex-direction: column;
  padding-inline: 2rem;
  padding-block: 1.5rem;
  border: #9BFAB0 4px solid;
  border-radius: 1rem;
  color: #F7FBFC;
  margin-right: 5rem;
  gap: 3rem;
}
.projetoInfoWrapper .projetoInfoContent .beneficio:nth-child(2n+1) {
  display: flex;
  gap: 3rem;
  width: 35rem;
}
.projetoInfoWrapper .projetoInfoContent .beneficio:nth-child(2n+1) div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: end;
  align-items: end;
}
.projetoInfoWrapper .projetoInfoContent .beneficio:nth-child(2n+1) div h1 {
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 2rem;
}
.projetoInfoWrapper .projetoInfoContent .beneficio:nth-child(2n+1) div h4 {
  font-size: 1.1rem;
  letter-spacing: 2px;
}
.projetoInfoWrapper .projetoInfoContent .beneficio:nth-child(2n+1) img {
  width: 6rem;
}
.projetoInfoWrapper .projetoInfoContent .beneficio:nth-child(2n+2) {
  display: flex;
  flex-direction: row-reverse;
  gap: 3rem;
  width: 35rem;
}
.projetoInfoWrapper .projetoInfoContent .beneficio:nth-child(2n+2) div {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  text-align: start;
  align-items: start;
}
.projetoInfoWrapper .projetoInfoContent .beneficio:nth-child(2n+2) div h1 {
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 2rem;
}
.projetoInfoWrapper .projetoInfoContent .beneficio:nth-child(2n+2) div h4 {
  font-size: 1.1rem;
  letter-spacing: 2px;
}
.projetoInfoWrapper .projetoInfoContent .beneficio:nth-child(2n+2) img {
  width: 6rem;
}

.objetivoWrapper {
  padding: 1.5rem;
  position: relative;
  display: flex;
  margin-top: 5rem;
  justify-content: space-around;
  background-color: #F7FBFC;
}
.objetivoWrapper .objetivoContent {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  align-items: center;
  gap: 2rem;
}
.objetivoWrapper .objetivoContent h1 {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #64C273;
  font-size: 6rem;
}
.objetivoWrapper .objetivoContent h3 {
  font-size: 2rem;
  font-weight: 600;
  width: 27rem;
  text-align: center;
  position: relative;
}
.objetivoWrapper .objetivoContent h3:before {
  content: "``";
  position: absolute;
  left: -3rem;
  color: #734A91;
  font-size: 3rem;
}
.objetivoWrapper .objetivoContent h3:after {
  content: "``";
  position: absolute;
  right: -3rem;
  top: 0;
  color: #734A91;
  font-size: 3rem;
}
.objetivoWrapper .objetivoContent div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.9rem;
  letter-spacing: 3px;
  margin-top: 1rem;
}
.objetivoWrapper .objetivoContent div p {
  width: 40rem;
}
.objetivoWrapper img {
  width: 55%;
}

.recursosWrapper {
  padding: 1.5rem;
  background-color: #111111;
  position: relative;
  padding-bottom: 5rem;
}
.recursosWrapper .recursos {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  color: #F7FBFC;
  margin-top: 4rem;
}
.recursosWrapper .recursos .recurso {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  border-radius: 1rem;
  height: 15rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 20px 30px -17px rgba(100, 194, 115, 0.3);
}
.recursosWrapper .recursos .recurso:nth-child(2n+1) h1 {
  font-weight: 600;
  font-size: 2rem;
  position: absolute;
  left: 35rem;
  transition: all 600ms ease-in-out;
}
.recursosWrapper .recursos .recurso:nth-child(2n+1) h4 {
  font-size: 1.8rem;
  width: 35rem;
  text-align: end;
  position: absolute;
  right: -40rem;
  transition: all 500ms ease-in-out;
}
.recursosWrapper .recursos .recurso:nth-child(2n+2) h1 {
  font-weight: 600;
  font-size: 2rem;
  position: absolute;
  right: 35rem;
  transition: all 600ms ease-in-out;
}
.recursosWrapper .recursos .recurso:nth-child(2n+2) h4 {
  font-size: 1.8rem;
  width: 35rem;
  text-align: start;
  position: absolute;
  left: -40rem;
  transition: all 500ms ease-in-out;
}
.recursosWrapper .recursos .recurso:nth-child(2n+1):hover h4 {
  right: 10rem;
}
.recursosWrapper .recursos .recurso:nth-child(2n+1):hover h1 {
  left: 10rem;
}
.recursosWrapper .recursos .recurso:nth-child(2n+2):hover h4 {
  left: 10rem;
}
.recursosWrapper .recursos .recurso:nth-child(2n+2):hover h1 {
  right: 10rem;
}
.recursosWrapper > img {
  position: absolute;
  bottom: -11rem;
  width: 100%;
  left: 0;
}

.depoimentosWrapper {
  background-color: #F7FBFC;
  padding-block: 12rem;
}
.depoimentosWrapper sl-carousel sl-carousel-item .aluno {
  box-shadow: 0px 13px 20px 0px rgba(100, 194, 115, 0.568627451);
}
.depoimentosWrapper sl-carousel sl-carousel-item .aluno .carouselItemContent div h2 {
  color: #64C273;
}
.depoimentosWrapper sl-carousel sl-carousel-item .personal {
  box-shadow: 0px 13px 20px 0px rgba(115, 74, 145, 0.6196078431);
}
.depoimentosWrapper sl-carousel sl-carousel-item .personal .carouselItemContent div h2 {
  color: #734A91;
}
.depoimentosWrapper sl-carousel sl-carousel-item .carouselItemBody {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  padding-block: 4rem;
  gap: 2rem;
}
.depoimentosWrapper sl-carousel sl-carousel-item .carouselItemBody .carouselItemContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.depoimentosWrapper sl-carousel sl-carousel-item .carouselItemBody .carouselItemContent h1 {
  font-size: 2rem;
  font-weight: 500;
}
.depoimentosWrapper sl-carousel sl-carousel-item .carouselItemBody .carouselItemContent div {
  width: 30rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.depoimentosWrapper sl-carousel sl-carousel-item .carouselItemBody .carouselItemContent div h2 {
  font-weight: 600;
  font-size: 1.8rem;
}

.contatoWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: #111111;
  padding: 1.5rem;
  padding-block: 7rem;
}
.contatoWrapper > img {
  position: absolute;
  width: 100%;
  top: -5rem;
  left: 0;
}
.contatoWrapper h1 {
  font-size: 5.5rem;
  font-weight: 700;
  color: #64C273;
}
.contatoWrapper div {
  display: flex;
  color: #F7FBFC;
  gap: 10rem;
  height: 15rem;
}
.contatoWrapper div h2 {
  width: 55rem;
  font-size: 1.9rem;
  justify-self: start;
}
.contatoWrapper div button {
  border: none;
  background-color: #5EAF6B;
  color: #F7FBFC;
  align-self: end;
  padding-block: 3rem;
  border-radius: 2rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2.7rem;
  font-weight: 600;
  padding-inline: 6rem;
  box-shadow: 1px 6px 20px 0px rgba(100, 194, 115, 0.3019607843);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.contatoWrapper div button:hover {
  background-color: #489254;
}

.footerWrapper {
  color: #F7FBFC;
  background: linear-gradient(180deg, rgb(17, 17, 17) 0%, rgb(23, 41, 26) 100%);
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  padding-block: 5rem;
  gap: 10rem;
}
.footerWrapper div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footerWrapper div h1 {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
}
.footerWrapper div h3 {
  width: 23rem;
  font-size: 1.2rem;
}
.footerWrapper .leftFooterContent {
  gap: 5rem;
}
.footerWrapper .middleFooterContent {
  display: grid;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footerWrapper .middleFooterContent h2 {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  align-self: end;
  justify-self: center;
}/*# sourceMappingURL=stylesheet.css.map */